$primary-color:#FFFFFF;
$secondary-color:#FF6060;

$star-color-empty:#E3E3E3;
$star-color-full:#FF6060;

$host-color:#C4C4C4;
$background-color-content:#F7F7F7;

// $breakpoint-mobile:700px;
// $breakpoint-tablet:900px;