@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header li {
  list-style: none;
  color: #FF6060;
  font-size: 1.2rem;
}

.header__nav {
  display: flex;
  gap: 2rem;
}

.header a {
  text-decoration: none;
}

.header a:visited {
  color: inherit;
}

.header a:hover {
  transform: scale(1.1);
  transition: all 100ms;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__nav {
  display: flex;
  gap: 2rem;
}
.header li {
  list-style: none;
  color: #FF6060;
  font-size: 1.2rem;
}

.header a {
  text-decoration: none;
}

.header a:visited {
  color: inherit;
}

.header a:hover {
  transform: scale(1.1);
  transition: all 100ms;
  cursor: pointer;
}

.hero-low-opacity-bg-img {
  background-image: url("../../assets/imgs/home_cover.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  min-height: 224px;
  position: relative;
  isolation: isolate;
  margin-bottom: 2rem;
}
.hero-low-opacity-bg-img h1 {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero-low-opacity-bg-img::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: black;
  opacity: 0.3;
  border-radius: 2rem;
}

.banner {
  background-image: url("../../assets/imgs/about_cover.png");
  background-size: cover;
  background-position: center;
  min-height: 224px;
  position: relative;
  isolation: isolate;
  margin-bottom: 2rem;
}

.banner::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: black;
  opacity: 0.3;
  border-radius: 2rem;
}

.cards {
  background-color: #F7F7F7;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.cards a {
  border: 2px solid blue;
  color: inherit;
  text-decoration: none;
}

.cards h1 {
  background-color: green;
  color: white;
  font-size: 1rem;
}

.cards img {
  border: 4px solid red;
  height: 130px;
  width: 100%;
  object-fit: cover;
  /*pour zoomer sur la photo */
  object-position: center;
  /* pour le choix de la partie à zoomer */
}
.cards img::before {
  content: "";
  position: absolute;
}

.cards {
  background-color: #F7F7F7;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2.5rem;
  margin-bottom: 2rem;
}

.toto {
  color: inherit;
  text-decoration: none;
  position: relative;
  border-radius: 0.2rem;
}

.cards h1 {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 0.8rem;
  width: 50%;
  left: 10%;
  top: 70%;
}

.cards img {
  object-fit: cover;
  /*pour zoomer sur la photo */
  object-position: center;
  /* pour le choix de la partie à zoomer */
  width: 340px;
  height: 340px;
  border-radius: 0.3rem;
}

.apartmentGrid {
  background-color: red;
  border: 8px solid blue;
}

#imgContent {
  border: 2px solid red;
  width: 100%;
  height: 415px;
  object-fit: cover;
}

.apartmentContent {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.apartmentAbstract {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apartmentAbstract ul {
  display: flex;
  gap: 1rem;
}
.apartmentAbstract li {
  background-color: #FF6060;
  color: white;
  border-radius: 0.8rem;
  padding: 0.3rem 2rem;
}

.apartmentContent > div {
  width: 50%;
  background-color: #FF6060;
  color: white;
  padding: 0.4rem;
  border-radius: 1rem;
}

.footer {
  background-color: black;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 2rem;
  height: 209px;
  width: 1440px;
}
.footer p {
  color: white;
  font-weight: 500;
  font-size: 24px;
}

/*# sourceMappingURL=styles.css.map */
