.apartment-content{
    display: flex;
    justify-content: space-between;
    gap:76px;
    @media screen and (max-width: 700px){  
        flex-direction: column;
        
    }

}

.apartment-content__details{
    overflow: hidden;
    width:50%;
    
    @media screen and (max-width: 700px){  
        width:100%;
        
    }
}



.dropdownPanel__title{
    background-color: #FF6060;
    color:white;
    
    display: flex;
    justify-content: space-between;
    padding:1rem;
    border-radius:0.7rem;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: 500;
    font-size: 1.1em;
  
}

.dropdownPanel__Content{
    color:#FF6060;
    background-color:#F7F7F7;
    border-radius:0.7rem;
    min-height:200px;
    padding:1rem;
    position:relative;
    z-index: -1;
    margin-top:-0.3rem;
    animation:slide-down 2s ease; 
    
}

.dropdownPanel{
    overflow: hidden;
    @media screen and (max-width : 550px){
        width:100%;
    }
}

// arrow------------------------------
.collapse__arrow {
    border:4px solid blue;

    background-image: url('../../assets/imgs/arrow_down.png');
    
    height: 36px;
    width: 38px;
    cursor: pointer;
    background-size: cover;
    background-color: transparent;

}
//au clic
.arrow{
 // sur l'icone
        transform:rotate(0.5turn);
        transition: all 100ms ease-in-out;



}

@keyframes arrow-direction{
    0%{}
    100%{transform:scale(1)}
}
@keyframes bigger{
    0%{transform:scale(0)}
    100%{transform:scale(1)}
}

@keyframes slide-down{
    0%{transform:translateY(-100%)}
    100%{transform:translateY(0%)}
}


.collapse--down{
    border:2px solid purple;
        height: 36px;
    width: 38px;
}

.collapse--up{
    border:2px solid violet;
        height: 36px;
    width: 38px;
}
// arrow end-------------------------------
.collapse{
    background-color: yellow;
    max-width: 1100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 auto;
    &_title{
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-color: purple;
        color: green;
        border-radius: 10px;
        font-weight: 500;
        font-size: clamp(13px, 2vw, 18px);
        padding: 10px 15px;
        cursor: pointer;
        .arrow{
            transition: all 0.2s ease-in-out;
            @media screen and (max-width: 1230px){
                width: 12px;     
            }
        }
        .arrow_up{
            transform: rotate(0deg);
        }
        .arrow_down{
            transform: rotate(180deg);
        }
    }
    &_content{
        display: flex;
        flex-direction: column;
        gap: 5px;
        letter-spacing: 1px;
        visibility: visible;
        opacity: 1;
        height: auto;
        padding: 10px;
        letter-spacing: 1px;
        font-size: clamp(12px, 2vw, 16px);
        color: blue;
        transition: visibility 0.5s ease-in-out,
                    opacity 0.5s ease-in-out,
                    height 0.2s ease-in-out;
    }
    &_content_hidden{
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
}

.accomodation_collapse{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin: 30px auto;
    width: 95%;
    &_item{
        width: 50%;
    }
    @media screen and (max-width: 650px){
        flex-direction: column;
        gap: 20px;
        margin: 20px auto;
        &_item{
            width: 100%;
        }    
    }
}