@use '../../scss/util' as util;

.collapsePanel{
    width:100%;
    overflow: hidden;
    @media (max-width:util.$breakpoint-mobile){

    };
    &__title{
        background-color:util.$primary-color;
        color:util.$secondary-color;
        @include util.flex-align();
        justify-content: space-between;
        font-size:18px;
        font-weight:500;
        border-radius: 10px;
       
        height:52px;
        padding-left:20px;
        @media screen and (max-width : 550px){
            font-size: 13px;
            height: 30px;
            border-radius: 5px;
        };

    }
    &__description{

        background-color:util.$bg-color-light;
        color:util.$primary-color;
        border-radius: 10px;
        font-size:18px;
        font-weight:400;
        line-height:26px;

        position:relative;
        z-index: -1;
        margin-top:-0.3rem;

       
        height:156px;
        
        padding-left:20px;
        padding-right:20px;
        padding-top:20px;
        animation:slide-down 1000ms ease-in-out; 
        @media (max-width:util.$breakpoint-mobile){
            font-size: 13px;
            line-height:17px;
            height:143px;
        };
    }
    &__equipment{
        color:util.$primary-color;
        background-color: util.$bg-color-light;
        border-radius: 10px;
    
        height:156px;
        font-size:18px;
        padding-left:20px;
        padding-right:20px;
        padding-top:20px;
        line-height:26px;
        position:relative;
        z-index: -1;
        margin-top:-0.3rem;
        animation:slide-down 2s ease; 
        @media screen and (max-width : 550px){
            font-size: 13px;
            line-height:17px;
            height:143px;
        };
    }
}

button{
    height: 36px;
    width: 36px;
    cursor: pointer;
    border:none;
    background-color: transparent;
    background-size: cover;
    margin-right: 10px;

    &.collapsePanel__arrow--up{
        background-image: url('../../assets/imgs/arrow_up.png');
    }
    &.collapsePanel__arrow--down{
        background-image: url('../../assets/imgs/arrow_down.png');
    }
}


@keyframes slide-down{
    0%{transform:translateY(-100%)}
    100%{transform:translateY(0%)}
}
