.sliderBanner{
    max-width: 85%;
    margin: 0 auto;
    position: relative;
    isolation: isolate;
    margin-bottom:1rem;

}

#imgContent{
    height: 415px;
    width: 100%;
    object-fit: cover;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.7rem;

}

// imgs on slider
.imgsOnSlider{
    position:relative;
}


.left-arrow{
    background-color: transparent;
    background-image: url('../../assets/imgs/chevron_carousel_left.png');
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%);

    
    width: 4rem;
    top: 50%;
    height: 15%;

    position: absolute;
    z-index: 1;
    border: none;
    top: 50%;
    left: 6%;
    cursor: pointer;
  

}

.right-arrow{
    background-color: transparent;
    background-image: url('../../assets/imgs/chevron_carousel_right.png');

    


    background-size: cover;
    background-position: center;
    transform: translate(50%, -50%);
    position: absolute;
    z-index: 1;
    border: none;
    top: 50%;
    right:6%;

    width: 4rem;
    top: 50%;
    height: 15%;
    cursor: pointer;

}

.imgNumber{
    background-color: red;
    position: absolute;
    left: 50%;
    top: 40%;
    color: white;
    transform: translate(-50%, -50%);
}