@use '../../scss/util/' as util;

.tagsList ul{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    li{
        @include util.flex-center;
        color:util.$secondary-color;
        background-color:util.$primary-color;
        border-radius: 2rem;
        font-weight: 500;
        font-size:14px;
        width: 2em;
        min-width:115px;
        height: 25px;
        
    }
}