.ul{
    display: flex;
    gap:2rem;
    flex-wrap: wrap;
    li{
        color:white;
        background-color: #FF6060;
        border-radius: 2rem;
        padding-top: 0.2rem;
        padding-right: 1rem;
        padding-bottom: 0.2rem;
        padding-left: 1rem;
        min-width: 10rem;
        text-align: center;
        font-size: 1em;
        font-weight: 500;
    }
}