// Couleurs & backgroubd-color
$primary-color:#FF6060;
$secondary-color:white;
$tertiary-color:black;
$bg-color-light:#F7F7F7;
$bg-color-medium:#C4C4C4;
$bg-color-dark:black;
$star-color-empty:#E3E3E3;
$star-color-full:#FF6060;

// media queries
$breakpoint-mobile:550px;
$breakpoint-tablet:768px;

@keyframes slide-down{
    0%{transform:translateY(-100%)}
    100%{transform:translateY(0%)}
}