.apartments{
    border-radius: 10px;
    // min-width: 300px;
    // min-height: 300px;
    @media screen and (max-width: 900px){  
        min-width: 100%;
    
      
    }
    @media screen and (max-width: 500px){  
        min-width: 100%;
    
      
    }
}

// a href cards -> inline-block + 100%
.cards{
    position:relative;
    border-radius: 10px;
    display:flex;

    align-items: flex-end;
    h2{
   
        color:white;
        position:absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
    
       
        font-weight: 500;
        width: 90%;
        padding:1rem;
        z-index: 1;
        font-size: clamp(12px, 3vw, 18px);
    }
}



.cards:hover{

    box-shadow: 0 2px 8px rgb(0, 0, 0);
    transform: scale(1.1);

    //extract ohmyfood
    // transform: scale(1.15);
    // transition:all 100ms;
    // opacity:0.8;
    // cursor:pointer;

}


.cards img{
background-size: cover;
background-position: center;
border-radius:0.2rem;
display:flex;
justify-content: center;
min-height: 224px;
// position:relative;
object-fit: cover;
// it creates a new stacking contexte, 
// it means anything inside of the current index can't escape outside of it
isolation:isolate;
border-radius: 10px;

width: 340px;
height: 340px;
@media screen and (max-width: 900px){  
    min-width: 100%;

  
}

}



.overlay{
width: 340px;
height: 340px;
position:absolute;
background-image: linear-gradient(to top, #000000, #3e1d24, #7a313d, #bc4652, #ff6060);
opacity:0.6;
border-radius: 10px;
&:hover{
    background-image: none;
}
@media screen and (max-width: 900px){  
    min-width: 100%;

  
}
}