@use '../../scss/util/' as util;

.apartments{
    border-radius: 10px;
    @media (max-width:util.$breakpoint-mobile){
        min-width: 100%;
    }
    @media (max-width:util.$breakpoint-tablet){
        min-width: 100%;
    }
}

.cards{
    position:relative;
    isolation: isolate;
    border-radius: 10px;
    display:flex;
    align-items: flex-end;
    @include util.hover-lift();
    h2{
        color:util.$secondary-color;
        position:absolute;
        right: 20px;
        font-weight: 500;
        width: 90%;
        padding:1rem;
        z-index: 1;
        font-size: 1em;
    }
}

.cards img{
background-size: cover;
background-position: center;
border-radius:0.2rem;
display:flex;
justify-content: center;
min-height: 224px;
// position:relative;
object-fit: cover;
border-radius: 10px;

width: 340px;
height: 340px;
@media (max-width:util.$breakpoint-mobile){  
    min-width: 100%;
    width: 335px;
    height: 255px;
}
}