.cards{
    background-color: #F7F7F7;
    border-radius : 2rem;
    

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding:2rem;

}

.cards a{
    border:2px solid blue;
    color:inherit;
    text-decoration: none;
}

.cards h1{
    background-color : green;
    color :white;
    font-size : 1rem;
}

.cards img{
    border: 4px solid red;
    height:130px;
    width:100%;
    object-fit:cover; 
    /*pour zoomer sur la photo */
    object-position:center;
    /* pour le choix de la partie à zoomer */
    
    &::before{
        content:'';
        position: absolute;

    }
}