.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 45px;
    background-color: #F7F7F7;
    border-radius: 2rem;
    margin:0 auto;
    padding: 50px;
    max-width: 85%;
    @media screen and (max-width: 768px){  
        background-color: transparent;
        gap:20px;
        padding: 0px;
    
      
    }
}


