.header{
    display:flex;
    justify-content: space-between;
    width: 1240px;
    height: 68px;
    left: 100px;
    top: 40px;


    .header__logo{
        
    }
    .header__nav{
        
        display: flex;
        gap: 1rem;
        list-style-type: none;

        a{
            color:red;
            text-decoration:none;
        }

        a:visited{
            
        }

        a:active{
            

            
        }
        
    }
}