@use '../abstracts' as *;

.nav{

    .nav__link{
        
    }
}

.nav-active{
    position:relative;

    &::after{
        content:"";
        height:4px;
        
    }
}

a .header__NavLink{
    color:red;
}