@use '../../scss/util/' as utils;
.navbar{
    margin-left: auto;
    @media screen and (max-width : 550px){
        height:17px;
        
    }

    & .navbar__tabs{
        display: flex;
        gap: 2em;
        font-size: 1.4em;
        font-weight: 500;
        color:utils.$primary-color;
        @media screen and (max-width : 550px){
            gap: 10px;
            font-size:12px;
            text-transform: uppercase;
           
            
        }

        & .navbar__tab--active{
            isolation: isolate;
            position:relative;
            
            &::after{
                content:'';
                height: 2px;
                width:100%;
                position:absolute;
                border-radius:10px;
                background: #FF6060;
                bottom:0px;
                left:50%;
                transform:translateX(-50%);
                transition : all 0.3s ease-in-out;
            }
        }
    }
}